{
  "$schema": "https://json.schemastore.org/swcrc",
  "module": {
    "type": "es6"
  },
  "jsc": {
    "baseUrl": ".",
    "paths": {
      "##/*": ["./src/*"],
      "#deep/*": ["./src/deep/*"]
    }
  }
}
